# Symfony
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
vendor/*


# Configuration files
app/config/parameters.ini
app/config/parameters.yml


# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml